# Python / Django
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
events/db.sqlite3
events/staticfiles/
*.sqlite3

# Environment variables
.env
*.env

# React
React/node_modules/
React/dist/

# IDE
.vscode/
.idea/